<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="universe-photos-dev"
    Publisher="C=DE, CN=Sebastian Bäumlisberger"
    Version="5.1.0.0" />

  <Properties>
    <DisplayName>Universe Photos Dev</DisplayName>
    <PublisherDisplayName>Sebastian</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.22621.0" MaxVersionTested="10.0.22621.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22621.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="de" />
    <Resource Language="en" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Universe Photos Dev"
        Description="A photo viewer build with WinUI"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="photo-viewer">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="image/bmp">.bmp</uap:FileType>
              <uap:FileType ContentType="image/bmp">.dib</uap:FileType>
              <uap:FileType ContentType="image/gif">.gif</uap:FileType>
              <uap:FileType ContentType="image/ico">.ico</uap:FileType>
              <uap:FileType ContentType="image/jpeg">.jpeg</uap:FileType>
              <uap:FileType ContentType="image/jpe">.jpe</uap:FileType>
              <uap:FileType ContentType="image/jpg">.jpg</uap:FileType>
              <uap:FileType ContentType="image/jpg">.jfif</uap:FileType>
              <uap:FileType ContentType="image/png">.png</uap:FileType>
              <uap:FileType ContentType="image/tiff">.tiff</uap:FileType>
              <uap:FileType ContentType="image/tif">.tif</uap:FileType>
              <uap:FileType ContentType="image/vnd.ms-photo">.jxr</uap:FileType>
              <uap:FileType ContentType="image/vnd.ms-photo">.wdp</uap:FileType>
              <uap:FileType ContentType="image/heif">.heif</uap:FileType>
              <uap:FileType ContentType="image/heic">.heic</uap:FileType>
              <uap:FileType ContentType="image/webp">.webp</uap:FileType>
              <uap:FileType ContentType="image/svg+xml">.svg</uap:FileType>
              <uap:FileType ContentType="image/arw">.arw</uap:FileType>
              <uap:FileType ContentType="image/raw">.raw</uap:FileType>
              <uap:FileType ContentType="image/nrw">.nrw</uap:FileType>
              <uap:FileType ContentType="image/crw">.crw</uap:FileType>
              <uap:FileType ContentType="video/mp4">.mp4</uap:FileType>
              <uap:FileType ContentType="video/avi">.avi</uap:FileType>
              <uap:FileType ContentType="video/x-m4v">.m4v</uap:FileType>
              <uap:FileType ContentType="video/webm">.webm</uap:FileType>
              <uap:FileType ContentType="video/x-matroska">.mkv</uap:FileType>
              <uap:FileType ContentType="video/mp2t">.ts</uap:FileType>
              <uap:FileType ContentType="video/quicktime">.mov</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Universe Photos Dev</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
